.baseImage {
  position: absolute;
  background-image: url('./Images/WOlf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.jumbotron {
  border: thick double #32a1ce;
  height: 85vh;
  margin-top: 90px;
  background-color: #040C12;
  opacity: .90;

}

audio {

  margin-left: 25px;
  margin-top: 700px;
  opacity: .3;
}
