.baseImage {
  position: absolute;
  background-image: url('./Images/Wolf.jpg');
  background-size: cover;
  height: 100vh;
}
.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  border: thick double #32a1ce;
  height: 55vh;
  margin-top: 30px;
  background-color: #040C12;
  opacity: 1;
}
.screenA {
  font-size: 30px;
  color:  white;
  font-family: 'Original Surfer', cursive;
}
.screenB {
  font-size: 30px;
  color:  white;
  font-family: 'Original Surfer', cursive;
}
.main_title {
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 3px 3px #32a1ce;
  color: #635EA6;
  font-size: 75px;
  font-family: 'Original Surfer', cursive;
}

.button_box {
  display: flex;
  justify-content: space-around;
  width: 600px;
}

.btn-pri {
  color: white;
  background-color: #32a1ce;
  border-color: #635EA6;
  border-width: thick;
}
.btn-sec {
  color: white;
  background-color: #635EA6;
  border-color: #32a1ce;
  border-width: thick;
}
#topic {
  display: flex;
  justify-content: space-around;
}

.question {
  align-content: center;
}

#start {
  align-self: center;
}

.hidden {
  display: none;
}
.question{
  padding-top: 10px;
  font-size: 35px;
}
.options {
  padding-top: 10px;
  font-size: 30px;
}
audio {
  margin-left: 25px;
  margin-top: 60px;
  opacity: .0;
}
